Pillow
numpy
pandas
matplotlib
opencv-python-headless
tqdm
TTS
soundfile
librosa
scipy
numba
ffmpeg-python
imageio-ffmpeg
requests>=2.30.0
cloudscraper>=1.2.68
playwright>=1.39.0
huggingface-hub>=0.18.4
transformers[torch]>=4.35.2
mega.py==1.0.8
cryptography>=42.0.0
python-dotenv>=1.0.1
pyppeteer
accelerate
safetensors
torch
sentencepiece
bitsandbytes