name: Run short all script

on:
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest
    timeout-minutes: 360

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Install Playwright browsers
        run: playwright install --with-deps

      - name: Run your script (llm)
        env:
          R_HOURS: "6"
        run: |
          cd Script_Drive1
          python llm.py

      - name: Run your script (pollinations_image_genrate)
        env:
          R_HOURS: "6"
        run: |
          cd Script_Drive1
          python pollinations_image_genrate.py

      - name: Run your script (Coqui_narration)
        env:
          R_HOURS: "6"
        run: |
          cd Script_Drive1
          python Coqui_narration.py

      - name: Run your script (video_genrate)
        env:
          R_HOURS: "6"
        run: |
          cd Script_Drive1
          python video_genrate.py

      - name: Run your script (remove_logo_from_video)
        env:
          R_HOURS: "6"
        run: |
          cd Script_Drive1
          python remove_logo_from_video.py

      - name: Run your script (all_scripts)
        env:
          R_HOURS: "6"
        run: |
          cd Script_Drive1
          python all_scripts.py
